.git
Moofetch/bin/*
.idea/.idea.Moofetch/.idea/vcs.xml
*.exe
*.pdb
*.dll
Moofetch/bin/*
Moofetch/obj/*
builds/flatpak_building/moofetch/*
builds/flatpak_building/build-dir/*
builds/flatpak_building/.flatpak-builder/*
builds/flatpak_building/repo/*
builds/flatpak_building/moofetch.flatpak
builds/Moofetch-v1.0-Executable.zip
builds/Moofetch-v1.0-Flatpak.zip
builds/Moofetch-v1.0-Executable/moofetch
builds/Moofetch-v1.0-Flatpak/moofetch.flatpak
